.navbar {
    padding: 2rem; /*en relacion al tamano del elemento raiz html*/
    background-color: #f5f6f7; 
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Rubik Dirt', cursive;
}

h2 {
    font-size: 1.5rem;
    color: #615151;
}

p {
    font-size: 1.2rem;
}

.seccion-oscura { 
    color: white;
    background-color: 1b1b32;
}

.seccion-clara { 
    color: black;
    background-color: #f5f6f7;
}

/*Seccion Hero*/
.hero {
    background-color: #f5f6f7;
    /*al usar una altura min se permite que se estire*/
    min-height: 450px; 
    text-align: center;
}

.hero-principal {
    padding: 3rem;
}

.hero-principal img {
    width: 200px;
    /*height: 250px;*/
    border-radius: 50%;
    border: 5px solid #414141;
}

/*Seccion sobre mi*/
.sobre-mi {
    height: 500px;
    padding: 10px;
}


.sobre-mi .contenedor {
    max-width: 600px;
    text-align: center;
}

.contenedor h2 {
    color: white;
    font-size: 2.5rem;
    padding: 15px 0;
    font-family: 'Rubik Dirt', cursive;
}

.contenedor p {
    padding: 15px 4px;
}

/*Seccion experiencia*/
.experiencia {
    padding: 40px 40px 60px 40px;
    text-align: center;
}

.experiencia .row div { /*Todos los div que estan dentro de una 
    fila y en la seccion experiencia*/
    height: 300px;
}
/*filter: opacity(0.9) drop-shadow(0,10,0 red);*/

.columna {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

.experiencia i { /*seleccionamos todos los elementos i de la seccion experiencia*/
    font-size: 3.5rem;
    color: #7ade30;
    background-color: #0a0a23;
    padding: 8px 19px;
    border-radius: 50%;
}

.experiencia h2 {
    font-weight: bold;
    color: black;

}

/*Media Querys*/
@media screen and (max-width: 767px) { /*Menor a 767, se oculta la barra*/
    .navbar-brand { display: none }
}

@media screen and (min-width: 700px) { /*A pertir de los 700px se aplica este estilo*/
    .hero-inferior img {
        max-width: 600px;
    }
}
