.navbar {
    padding: 3rem;
    /*en relacion al tamano del elemento raiz html*/
    background-color: #f5f6f7;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

.navbar-nav {
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Rubik Dirt', cursive;
}

h2 {
    font-size: 1.5rem;
    color: #615151;
}

p {
    font-size: 1.2rem;
}

.seccion-oscura {
    color: white;
    background-color: #1b1b32;
}

.seccion-clara {
    color: black;
    background-color: #f5f6f7;
}

.btn-info {
    margin: 15px;
    font-size: 1.2rem;
}

/*Seccion Hero*/
#hero {
    background-color: #f5f6f7;
    /*al usar una altura min se permite que se estire*/
    min-height: 450px;
    text-align: center;
}

.hero-principal {
    padding: 3rem;
}

.hero-principal img {
    width: 200px;
    /*height: 250px;*/
    border-radius: 50%;
    border: 5px solid #414141;
}

/*Seccion sobre mi*/
#sobre-mi {
    height: 500px;
    padding: 10px;
}


#sobre-mi .contenedor {
    max-width: 600px;
    text-align: center;
}

.contenedor h2 {
    color: white;
    font-size: 2.5rem;
    padding: 15px 0;
    font-family: 'Rubik Dirt', cursive;
}

.contenedor p {
    padding: 15px 4px;
}

/*Seccion experiencia*/
#experiencia {
    padding: 40px 40px 60px 40px;
    text-align: center;
}

#experiencia .row div {
    /*Todos los div que estan dentro de una 
    fila y en la seccion experiencia*/
    height: 550px;
}

#experiencia i {
    /*seleccionamos todos los elementos i de la seccion experiencia*/
    font-size: 3.5rem;
    color: white;
    background-color: #0a0a23;
    padding: 20px 20px;
    border-radius: 50%;
}

#experiencia h2 {
    font-weight: bold;
    color: black;
    padding: 30px 0 0 0;
}

#experiencia .columna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#experiencia .columna:hover {
    color: white;
    background-color: #3b3b3b;
    border-radius: 4rem;

    transition: all 0.2s ease-in;

}

#experiencia .columna:hover h2,
.badge {
    color: #f5f6f7;
}

.badges-contenedor {
    font-size: 25px;
    margin: 0px 0;
}

.badge {
    margin: 10 5px;
}


/*Seccion contacto*/
#contacto .container {
    max-width: 1000px;
    min-height: 150px;
}


#contacto .rectangulo-mail {
    margin-top: -2rem;
    background-color: rgb(12, 110, 253);
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px white;

    display: flex;
}

#contacto .row {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

#contacto button {
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    padding: 0.50em 1.2em;
    margin: 10px;
    border-radius: 100px;

    transition: all 0.2s ease;
}

#contacto button:hover {
    background-color: white;
    color: black;
}

/*Footer*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    min-height: 200px;
}

footer .logo {
    margin-top: 30px;
}

footer p {
    margin: 25px;
    font-size: 0.8rem;
    font-family: 'Quicksand', sans-serif;
}

.contenedor-iconos-footer a {
    height: 50px;
    width: 50px;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    margin: 0px 12px;
    padding: 2px;
    border: 2px solid white;
    border-radius: 500%;
}

.contenedor-iconos-footer i {
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}

.contenedor-iconos-footer a:hover {
    background-color: white;
    border: 2px solid rgb(13, 110, 253);
}

.contenedor-iconos-footer a:hover i {
    color: black;
}

/*Media Querys*/
@media screen and (max-width: 767px) {

    /*Menor a 767, se oculta la barra*/
    .navbar-brand {
        display: none
    }

    #experiencia .columna:hover {
        color: inherit;
        background-color: inherit;
        border-radius: 0;
        transition: none;
    }

    #experiencia .columna:hover h2,
    .badge {
        color: inherit;
    }

    .badges-contenedor span {
        font-size: 0.8rem;
    }

}

@media screen and (min-width: 700px) {

    /*A pertir de los 700px se aplica este estilo*/
    .hero-inferior img {
        max-width: 600px;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        text-align: center;
        min-height: 120px;
    }

    footer .logo {
        display: none;
    }

}

@media screen and (max-width: 400px) {
    h2 {
        font-size: 1.2rem;
        color: #615151;
    }

    p {
        font-size: 1rem;
    }

    #experiencia .columna:hover h2,
    .badge {
        color: inherit;
    }

    #experiencia .row div {
        height: 850px;
    }

    #experiencia i {
        font-size: 2.7rem;
        background-color: #0a0a23;
        padding: 15px 15px;
        border-radius: 50%;
    }

    .badges-contenedor {
        font-size: 18px;
    }
}