@use 'variables' as *;

@mixin media-query-desktop {
    @media (min-width: 769px) {
        @content;
    }
}

@mixin hero-title {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
}

@mixin back-title {
    font-size: 9.5rem; 
    color: rgba(102, 99, 255, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    z-index: 1;
}

@mixin from-title {
    font-size: 6rem;
    font-weight: bold;
    color: $fourthColor;
    position: relative;
    z-index: 2; /* Asegura que el texto esté por encima del fondo */
    text-align: center;
}

@mixin hero-title-after {
    content: '';
    position: absolute;
    width: 50%; /* Ajusta el ancho de la línea */
    height: 6px; /* Ajusta el grosor de la línea */
    background: $primaryColor; /* Cambia el color de la línea */
    left: 50%;
    bottom: -5px; 
    transform: translateX(-50%);
}

@mixin transparentOverlay-before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(4px) contrast(60%);
    background: rgba(31, 78, 121, 0.1);  /*rgba(0, 0, 0, 0.4)*/
    z-index: 0; /* Overlay semitransparente */
}