    <div class="logo">
        <h1>Carlos Javier</1>
    </div>
    <nav>
        <ul id="navLinks" class="navLinks">
            <li><a href="">Inicio</a></li>
            <li><a href="">Sobre Mi</a></li>
            <li><a href="">Que hago</a></li>
            <li><a href="">Resumen</a></li>
            <li><a href="">Contactame</a></li>
        </ul>
    </nav>
    <div class="socialMedia">
        <i class="bi bi-github"></i>
        <i class="bi bi-whatsapp"></i>
    </div>
    <div id="hamburger" class="hamburger">&#9776;</div>