#sfooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--second-white);
    padding-block-start: 30%;
    padding-block-end: 10%;

    position: relative;
    z-index: 2;
    /*en relacion a rectangle de scontact*/
}

#sfooter>p {
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
}

#sfooter .containerIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sfooter .containerIcon p {
    font-size: 1.2rem;
    padding-block: 15%;
}

#sfooter .containerIcon a {
    font-size: 3rem;
    color: var(--accent-blue);
    padding-block: 5%;
}

@media (min-width: 768px) {
    #sfooter {
        flex-direction: row;
        justify-content: space-around;
        padding-block-start: 18%;
        padding-block-end: 5%;
    }
    
    #sfooter>p {
        font-size: 1.2rem;
    }
    
    #sfooter .containerIcon {
        flex-direction: row;
    }
    
    #sfooter .containerIcon p {
        font-size: 1.2rem;
        padding-block: 0%;
    }
    
    #sfooter .containerIcon a {
        font-size: 2.5rem;
        color: var(--accent-blue);
        padding-block: 0%;
        padding-inline-start: 5%;
    }
}