.btnGeneric {
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  cursor: pointer;
}

.btnContact {
  background-color: var(--fresh-breeze);
  color: white;
  font-size: 1.8rem;
}

.btnCV {
  background-color: var(--fresh-breeze);
  color: white;
  font-size: 1.8rem;
}

@media (min-width: 768px) {
  .btnContact {
    font-size: 2.5rem;
  }
}