.cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding-block: 10%;
    gap: 30px;
    padding-inline: 5%;

    align-self: center;
}

.cards .card {
    padding-block: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-width: 420px;
}

.cards .card .cardImg {
    width: auto;
    height: 120px;
}

.cards .card .cardBody {}

.cards .card .cardBody h4 {
    padding-block-start: 5%;
    font-size: 1.6rem;
    text-align: center;

}

.cards .card .cardBody p {
    text-align: center;
    padding-block-start: 5%;
}

.cards .card .cardBody p .badgeKnowledge {
    display: inline-block;
    /*Arregla el problema de que se corten los span por las letras que no caben*/
    background-color: var(--fresh-breeze);
    color: var(--second-white);
    margin-inline: 1%;
    margin-block: 1%;
}

/* ==================== Media Query ==================== */
@media (min-width: 768px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        padding-block-start: 5%;
    }

    .cards .card {}

    .cards .card .cardImg {}

    .cards .card .cardBody {}

    .cards .card .cardBody h4 {}

    .cards .card .cardBody p {}

    .cards .card .cardBody p .badgeKnowledge {}
}